%div(data-role="page")
  %div(data-role="header")
    %h1
      *waveee*
  %div(data-role="content")
    %ul(data-role="listview" data-inset="true" data-filter="true")
      %li
        %a(href="#")
          Hello
      %li
        %a(href="#")
          Panda
      %li
        %a(href="#")
          Pandaballs
      %li
        %a(href="#")
          Mantis
