%div#home(data-role="page")
  %div(data-role="content")
    %div
      .logo
      %p.blurb
        IPS Strata Solutions is a Sydney based strata and commercial cleaning company.
      %div.ui-grid-a
        %div.ui-block-a
          %a(href="#contact-us" data-transition="slide")
            %i.icon-wrench
            Services
        %div.ui-block-b
          %a(href="#contact-us" data-transition="slide")
            %i.icon-check
            Portfolio
        %div.ui-block-a
          %a(href="#contact-us" data-transition="slide")
            %i.icon-info-sign
            About Us
        %div.ui-block-b
          %a(href="#contact-us" data-transition="slide")
            %i.icon-phone
            Contact Us

%div#contact-us(data-role="page")
  %div(data-role="header" data-theme="b")
    %a(href="#home" data-transition="slide" data-direction="reverse" data-icon="arrow-l")
      Home
    %h1
      Contact Us
  %div(data-role="content")
    %p Contact us goes here
