%div.screen-home(data-role="page")
  %div(data-role="header")
    %h1
      IPS Solutions
  %div(data-role="content")
    %div(style="font-size: 24px;")
      %i.icon-camera-retro
      icon-camera-retro

%div#contact-us(data-role="page" data-add-back-btn="true")
  %div(data-role="header" data-theme="e")
    %h1
      Contact Us
  %div(data-role="content")
    %p Contact us goes here
