%div#home(data-role="page")
  %div(data-role="content")
    %div
      .logo
      %p.blurb
        IPS Strata Solutions is a Sydney based strata and commercial cleaning company. We aim to provide 100% satisfaction to our clients by providing timely, high quality and cost effective cleaning solutions. 
      %div.ui-grid-a
        %div.ui-block-a
          %i.icon-wrench
          %a(href="#contact-us" data-transition="slide")
            Services
        %div.ui-block-b
          %i.icon-check
          %a(href="#contact-us" data-transition="slide")
            Portfolio
        %div.ui-block-a
          %i.icon-info-sign
          %a(href="#contact-us" data-transition="slide")
            About Us
        %div.ui-block-b
          %i.icon-phone
          %a(href="#contact-us" data-transition="slide")
            Contact Us

%div#contact-us(data-role="page")
  %div(data-role="header" data-theme="e")
    %a(href="#home" data-transition="slide" data-direction="reverse" data-icon="arrow-l")
      Home
    %h1
      Contact Us
  %div(data-role="content")
    %p Contact us goes here
