// _screen.sass

#home
  .logo
    margin: 0 auto
    background: asset_url("logo.png", image) no-repeat left top
    width: 224px
    height: 30px
  i, a
    display: block
    text-align: center
  i
    font-size: 120px
